@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800;900&display=swap');

:root {
  --primary-color: #2c2d2e;
  --secondary-color: #1f1f20;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--primary-color) !important;
  font-family: 'Raleway', sans-serif;
  margin: 0;
}

h1,h2{
  font-weight: 800;
  line-height: 1.2;
  font-size:1.5rem;
}

header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  background-color: var(--secondary-color);
  width: 100% !important;
}

.search {
  background-color: transparent;
  border: 2px solid var(--primary-color);
  border-radius: 50px;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  color: #fff;
}

.search::placeholder {
  color: #7e7e82;
}

.search:focus {
  outline: none;
  background-color: var(--primary-color);
}

.movie-section{
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.movie {
  background-color: var(--secondary-color);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  border: 2px solid var(--primary-color);
  max-height: 100%;
}

.movie img {
  width: 100%;
}

.movie-info {
  color: #eee;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.2rem;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 0.5px;
}

.movie-info h3 {
  margin-top: 0;
}

.movie-info span {
  background-color: var(--primary-color);
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
}

.green {
  color: lightgreen;
}

.orange {
  color: orange;
}

.red {
  color: red;
}

.overview {
  background-color: #505050;
  padding: 2rem;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  max-height: 100%;
  transform: translateY(101%);
  overflow-y: auto;
  transition: transform 0.3s ease-in;
}

.movie:hover .overview {
  transform: translateY(0);
}

.btn-warning:hover{
  background-color: orange !important;
}

@media (max-width: 1000px) {
  .movie-section{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
  }
}

@media (max-width: 700px) {
  .movie-section{
    width: 100%;
    display: grid;
    grid-template-columns: auto;
  }
}